{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>IntituleFormation</th>
                <td>{{ formation.intituleFormation }}</td>
            </tr>
            <tr>
                <th>NbStagiaires</th>
                <td>{{ formation.nbStagiaires }}</td>
            </tr>
            <tr>
                <th>DebutFormation</th>
                <td>{{ formation.debutFormation ? formation.debutFormation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FinFormation</th>
                <td>{{ formation.finFormation ? formation.finFormation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CouleurFormation</th>
                <td>{{ formation.couleurFormation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_index') }}">back to list</a>

    <a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
