{{ form_start(form) }}

        {{ form_widget(form.debutCreneau, { 'label': 'Début du créneau' }) }}
        {{ form_widget(form.finCreneau, { 'label': 'Fin du créneau' }) }}
        {{ form_widget(form.Formation, { 'label': 'Formation' }) }} 
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}


{# , {'action': path('nouveau-creneau', { 'id': place.id })} #}