{{ form_start(form) }}

      {#  {{ form_row(nouveauCreneau.debutCreneau, { 'label': 'Début du créneau' }) }}
        {{ form_row(nouveauCreneau.finCreneau, { 'label': 'Fin du créneau' }) }}
        {{ form_row(nouveauCreneau.Formation, { 'label': 'Formation' }) }} 
    <button class="btn">{{ button_label|default('Enregistrer') }}</button> #}
{{ form_end(form) }}


{# , {'action': path('nouveau-creneau', { 'id': place.id })} #}