{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil - Intrarinfo{% endblock %}

{% block body %}
<div>
  <p>Objectifs et difficultés:</p>
  <ul>
    <li>Cliquer sur une ligne de la chronologie doit renvoyer vers un <b>formulaire en pop-up</b>.</li>
    <li>Le lien doit renvoyer vers un <b>nouveau créneau.</b></li>
    <li>Le nouveau créneau doit être affilié à la <b>ligne correspondante.</b></li>
    <li><b>L'envergure de la chronologie</b> doit être adaptée et non soumise aux créneaux enregistrés (Défilement horizontal ?).</li>
    <li>Possibilité de <b>mettre en valeur certaines dates</b> ? Par exemple la date du jour ?</li>
  </ul>
</div>

    {% for salle in salles %}
    <script type="text/javascript">


      //Pour chaque salle on crèe une chronologie ("timeline")
      google.charts.load("current", {packages:["timeline"], 'language': 'fr'});
      google.charts.setOnLoadCallback(drawChart);
      
      //On utilise Luxon pour définir les l'envergure de la chronologie
      var DateTime = luxon.DateTime;
      var debutChrono = DateTime.now();
        debutChrono.minus({ months: 2 });
        debutChrono.toISODate().setLocale('fr').toFormat('yy, LL, dd');

      var finChrono = DateTime.now();
        finChrono.plus({ months: 2 });
        finChrono.toISODate().setLocale('fr').toFormat('yy, LL, dd');



        function drawChart() {
    
          var container = document.getElementById('salle{{ salle.id }}');
          var chart = new google.visualization.Timeline(container);
          var dataTable = new google.visualization.DataTable();
          //Le 1er élément sera le nom de la place
          dataTable.addColumn({ type: 'string', id: 'Place' });
          //Le nom du stagiaire concerné est affiché sur la bande du créneau
          dataTable.addColumn({ type: 'string', id: 'Stagiaire' });
          //Date de début du créneau
          dataTable.addColumn({ type: 'date', id: 'Début' });
          //Date de fin du créneau
          dataTable.addColumn({ type: 'date', id: 'Fin' });
          //On injecte les données
          dataTable.addRows([



          {% for stagiaire in stagiaires %}



            {% for creneau in creneaux %}
              {% if creneau.place == stagiaire.place %}
                {% if salle.id == stagiaire.place.salle.id %}
                  [ '{{ stagiaire.place.nomPlace }}', '{{ stagiaire.prenomStagiaire }} {{ stagiaire.nomStagiaire }}', 
                  new Date({{ creneau.debutCreneau|date('Y, m, d') }}), new Date({{ creneau.finCreneau|date('Y, m, d') }}) ],
                {% endif %}

              {% endif %}

            {% endfor %}
          {% endfor %}

          ["\0", "Aujourd'hui", new Date(), new Date() ],
  
          ]);
          
          //Couleurs des créneaux
          var options = {
            colors: [
            {% for creneau in creneaux %}
              '{{ creneau.formation.couleurFormation }}',
            {% endfor %}
            ],
            //On fixe le début et la fin de la chronologie en utilisant les variables définie grâce à Luxon
            //hAxis: {
            //  minValue: new Date(debutChrono),  
            //  maxValue: new Date(finChrono)
            //},
          };

          //On précise qu'on active les options : ",options", et on dessine le tableau.
          chart.draw(dataTable, options);

          // ligneJour('salle{{ salle.id }}');

          // google.visualization.events.addListener(chart, 'onmouseover', function(obj) {
  
          //   //if the moused over object was our reference line, we should not display a tooltip
          //   if(obj.row == 0){
          //     $('.google-visualization-tooltip').css('display','none');
          //   }
          //   motJour('salle{{ salle.id }}');
          // });
          
          // google.visualization.events.addListener(chart, 'onmouseout', function(obj){
          //   motJour('salle{{ salle.id }}');
          // });
        }

  
  
    </script>
    {% endfor %}
    <script>
      //On charge le document
      $(document).ready(function(){

        // //Tracer une ligne pour marquer la date du jour
        // function ligneJour(div) {
        //   //On cherche la hauteur de la chronologie
        //   var height;
        //   $('#'+ div +' rect').each(function(index){
        //     var x = parseFloat($(this).attr('x'));
        //     var y = parseFloat($(this).attr('y'));

        //     if(x == 0 && y == 0) {
        //       height = parseFloat($(this).attr('height'))
        //     }
        //   })
        //   var motJour = $('#'+ div +' text:contains("Aujourd\'hui")');
          

        //   motJour.prev().first().attr('height', height + 'px').attr('width', '1px').attr('y', '0');

        // }

        setTimeout(function(){ 




          //Pour chaque salle                   
          {% for salle in salles %}
            //Dans un tableau on commence à compter à 0
            {% set count = -1 %}
              //Pour chaque place dans la salle
              {% for place in places %}
                //Si la la place est bien dans la salle
                {% if salle.id == place.salle.id %}
                  {% set count = count + 1 %}
                    //On différencie chaque ligne du tableau
                    truc = $('#salle{{ salle.id }} rect:eq({{count}})');
                    //On ajoute au "rect" des attributs pour le système de modaux
                    truc.attr('data-toggle', 'modal');
                    truc.attr('data-target', 'modal{{ place.id }}');
                    truc.attr('type', 'button');
                    truc.addClass('btn');
                    //
                    truc.click(function(){
                      $('#modal{{ place.id }}').modal("show");
                    });
                {% endif %}
              {% endfor %}
            


          {% endfor %}

        }, 3000);
      });

    </script>

    {% for place in places %}
      <!-- Vertically centered modal -->
      <div class="modal fade" id="modal{{ place.id }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nouveau Créneau pour la place {{ place.nomPlace }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{ include('home/_nouveauCreneau.html.twig') }} 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <button type="button" class="btn btn-primary">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}


  
  
{% for salle in salles %}
  <h3>{{ salle.nomSalle }}</h3>
  <div id="salle{{ salle.id }}" style="height: 300px;"></div>
{% endfor %}


{% endblock %}
