{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
  
    {% for salle in salles %}
    <script type="text/javascript">
      google.charts.load("current", {packages:["timeline"], 'language': 'fr'});
      google.charts.setOnLoadCallback(drawChart);
  
  
        function drawChart() {
    
          var container = document.getElementById('{{ salle.nomSalle }}');
          var chart = new google.visualization.Timeline(container);
          var dataTable = new google.visualization.DataTable();
          dataTable.addColumn({ type: 'string', id: 'Place' });
          dataTable.addColumn({ type: 'string', id: 'Stagiaire' });
          dataTable.addColumn({ type: 'date', id: 'Début' });
          dataTable.addColumn({ type: 'date', id: 'Fin' });
          dataTable.addRows([


          {% for stagiaire in stagiaires %}



            {% for creneau in creneaux %}
              {% if creneau.place == stagiaire.place %}
                {% if salle.id == stagiaire.place.salle.id %}
                  [ '<a class="btn">{{ stagiaire.place.nomPlace }}</a>', '{{ stagiaire.prenomStagiaire }} {{ stagiaire.nomStagiaire }}', 
                  new Date({{ creneau.debutCreneau|date('Y, m, d') }}), new Date({{ creneau.finCreneau|date('Y, m, d') }}) ],
                {% endif %}

              {% endif %}

            {% endfor %}
          {% endfor %}

  
  
          ]);
          
          var options = {
            colors: [
            {% for creneau in creneaux %}
              '{{ creneau.formation.couleurFormation }}',
            {% endfor %}
            ],
          };

      
          chart.draw(dataTable, options);
        }
  
  
    </script>
    {% endfor %}

  
  
{% for salle in salles %}
  <h3>{{ salle.nomSalle }}</h3>
  <div id="{{ salle.nomSalle }}" style="height: 300px;"></div>
{% endfor %}


{% endblock %}
